<ion-view view-title="Collect Data">
    <ion-content>
        <!--<div class="list card">-->

        <!--<div class="item">-->
        <!--</div>-->

        <!--<div class="item item-image">-->
        <!--<img src="cover.jpg">-->
        <!--</div>-->


        <!--</div>-->

        <div style="padding: 5px">
            <button class="button button-block">Take Photo</button>
        </div>

        <div class="list">
            <label class="item item-toggle">
                GPS Collect Points
                <label class="toggle toggle-balanced">
                    <input type="checkbox">

                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <div class="item item-button-right">
                Points Averaged: 11
                <button class="button button-small">Clear</button>
            </div>
            <div class="item">
                Lat: 12.3 Lon: 123 Heading: 13
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Land Cover Type
                </div>
                <select>
                    <option selected>Unknown</option>
                    <option>Green</option>
                    <option>Red</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Water Source
                </div>
                <select>
                    <option selected>Unknown</option>
                    <option>Rainfed</option>
                    <option>Irrigated</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Crop Intensity
                </div>
                <select>
                    <option selected>Unknown</option>
                    <option>Single</option>
                    <option>Double</option>
                    <option>Triple</option>
                    <option>Continuous</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Field Size
                </div>
                <select>
                    <option selected>Unknown</option>
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select>
            </label>

        </div>
        <div style="padding: 5px">
            <button class="button button-block">
                Save
            </button>
            <button class="button button-block">
                Cancel
            </button>
        </div>
    </ion-content>
</ion-view>
