<ion-view view-title="Help">
    <ion-content scroll>

        <div class="card">
            <div class="item item-text-wrap">
                Collect data on <strong>areas greater than 90 by 90 meters</strong>. If you are unable to find a pure
                area of 90 by 90 meters and a second crop is present, please document it using the secondary crop field.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                If you are not at the center of the area, <strong>capture the bearing and distance to the center of the
                field</strong>.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                Try to <strong>space your data collection by over 2 km</strong> unless nearby sample units are of
                different classes.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                Two or three photos for each location with <strong>one covering the entire field and another with a close-up
                of the crop</strong>. Please take your photos in landscape view from where you recorded the position.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <strong>Cropland</strong> is defined as all cultivated plants harvested for food, feed, and fiber, including plantations (e.g., orchards,
                vineyards, coffee, tea, rubber).
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <strong>Crop Intensity</strong> is the number of cropping cycles in a 12 month period.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <strong>Irrigation</strong> is defined as artificial application of any amount of water to overcome crop water
                stress. Irrigated areas are those areas which are irrigated one or more times during crop growing
                season.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <strong>Rainfed areas</strong> are areas that have no irrigation whatsoever and are precipitation dependent.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                Please <strong>collect data on non-cropland areas</strong>, especially those area that are near to cropland.
            </div>
        </div>

    </ion-content>
</ion-view>
