<ion-view view-title="Help">
    <ion-content scroll>

        <div class="card">
            <div class="item item-text-wrap">
                Collect data on <strong>areas greater than 90 by 90 meters</strong>.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                If you are not at the center of the area, <strong>capture the bearing to the center of the
                field</strong>.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                Try to <strong>space your data collection by over 2 km</strong> unless nearby sample units are of
                different classes.
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                Two or three photos for each location with <strong>one covering the entire field and another with a close-up
                of the crop</strong>. Please take your photos in landscape view from where you recorded the position.
            </div>
        </div>

    </ion-content>
    <!--<ion-footer-bar class="bar-stable">-->
        <!--<button class="button button-clear">Skip</button>-->
        <!--<h1 class="title"></h1>-->
        <!--<button class="button button-clear">Next</button>-->
    <!--</ion-footer-bar>-->
</ion-view>
