<ion-view view-title="Global Croplands">
    <ion-content data-tap-disabled="true">
        <div class="padding">
            <a class="button button-block" href="#/app/collect">
                Collect Data
            </a>
            <button class="button button-block" ng-click="sync()" ng-disabled="!canSync()">
                Sync Data
            </button>
            <div style="background: #000000; color: #ffffff; border: 1px solid #cccccc; padding: 4px;"
                 ng-show="messages.length">
                <ul>
                    <li class="{{ item.type }}" ng-repeat="item in messages">{{item.message}}
                    </li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>
