language: node_js

node_js:
  - '0.11'

before_script:
  - 'export CHROME_BIN=chromium-browser'
  - 'export DISPLAY=:99.0'
  - 'sh -e /etc/init.d/xvfb start'
  - 'npm install -g karma grunt-cli jshint'
  - 'npm install' # install npm packages

script: node_modules/karma/bin/karma start karma.conf.js --single-run
